.navbar-button-text {
  font-size: calc(10px + 0.5vh);
}

.navbar-title {
  font-size: calc(15px + 0.5vh);
}

#alert-dialog-description {
  text-align: left;
}

#alert-dialog-title {
  padding-top: 30px;
}
